
.navbar {
    width: 100%;
    top: 0;
    z-index: 999;
    background-color: white !important;
    border-bottom: 1px solid rgb(210, 210, 210);

.logo{
    width: 234px;
    height: 48px;
    margin-left: 100px;
}
h5{
    font-size: 17px;
    color: rgb(100, 98, 98);

}
span{
    font-size: 30px;
    color:rgb(143, 143, 143) ;
    margin-bottom: 5px;
}
}