.show-complaint {
    border: 1px solid #D7D7D7;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .header{
        width: 100%;
        padding: 15px 0px;
        color:#fff;
        text-align: center;
        background-color: #3C6CB4;
        font-family:  sans-serif;
        border-radius: 10px 10px 0px 0px ;
    }
    .information {

        width: 1245px;
        height: 302px;
        padding: 18px;
        border: 1px solid #D7D7D7;
        border-radius: 6px;
    }
}