.layout {
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    background-color: #E2E3E5;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 7px;
    color: #000;
    transition: width 0.3s ease;
    padding: 10px;
    z-index: 1000;
}

.sidebar.open {
    width: 260px;
}

.logo {
    width: 180px;
    height: 36px;
}

.sidebar .top_section {
    display: flex;
    align-items: center;
}

.sidebar .bars {
    cursor: pointer;
    font-size: 20px;
    margin-left: 18px !important;
    color: #555;
    margin-top: 15px;
}

.sidebar .link {

    display: flex;
    text-decoration: none;
    margin-left: 5px;

    .link-btn {
        width: 50px;
        height: 50px;
        background-color: #fff;
        color: #000;
        align-items: center;
        padding: 14px 0;
        border: 0px;
        margin-top: 20px;
        border-radius: 5px;
        .icon{
            margin-left: 15px;

           
        }
    }
  
}
 
.sidebar .link-btn:hover {
    background-color: #f4f4f5;
}


